        <br><br><hr><br>
        <footer>
                CST412: Net Admin<br>
                &copy; 2019. l33t h@x0r5<br>
                Disclaimer: The information in this page might be inaccurate.<br>
                It is used for academic purposes only.<br><br>
        </footer>
        <script SRC="/js/functions.js"></script>
    </body>
</html> 